<!-- search template -->
<div>
    <div ng-if="data.searchResults.length == 0">
        Sorry no candy
    </div>
    <div ng-if="data.searchResults.length != 0">
        <h3>Get some sugar!</h3>
        <table>
            <tr ng-repeat="item in data.searchResults">
                <td><a class="product" href="/product/{{ item.sku }}">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
                <td>&euro;{{ item.price }}</td>
            </tr>
        </table>
    </div>
</div>
