:root {
    font-family: sans-serif;
}

body {
    background: rgba(218, 143, 59, 0.486);
    color: black;
    height: 1000px;
}

h1 {
    font-family: 'Helvetica', sans-serif;
}

h1 a:link {
    color: black;
    text-decoration: none;
}

h1 a:visited {
    color: black;
    text-decoration: none;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    margin: 5px;
}

h3 a:link {
    color: black;
    text-decoration: none;
}

h3 a:visited {
    color: black;
    text-decoration: none;
}

.category {
    font-size: 14pt;
    cursor: context-menu;
    text-transform: capitalize;
}

.carttotal {
    margin-left: 25px;
}

ul.products {
    margin: 5px;
}

a.product:visited {
    color: black;
    text-decoration: none;
}

a.product:link {
    color: black;
    text-decoration: none;
}

a.product:hover {
    color: white;
    text-decoration: none;
}

#search {
    float: right;
    position: relative;
    top: -50px;
}

.row, .column, .nav, .main {
    margin: 0px;
    box-sizing: border-box;
    width: 800px;
}

.column {
    float: left;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.nav {
    width: 25%;
}

.main {
    width: 500px;
}

.footer {
    font-size: 8pt;
}

/* product details */
.productimage {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.description {
    width: 300px;
    margin: 10px;
}

.productcart {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.rating {
    margin: 10px;
}

.vote-star {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
}

/* login register */
table.credentials {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.message {
    color: magenta;
    font-weight: bold;
    height: 30px;
}

.centre {
    text-align: center;
}

/* cart */
.currency {
    text-align: right;
}

/* payment */
a.cont:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.cont:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.cont:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* splash */
div.splash {
    padding: 5px;
    margin: 0px;
}

